nginx:
  pod:
    nodeSelector:
      gateway-ready: "true"
    tolerations:
      - key: "node-role.kubernetes.io/master"
        operator: "Equal"
        effect: "NoSchedule"
      - key: "node-role.kubernetes.io/control-plane"
        operator: "Equal"
        effect: "NoSchedule"
  service:
    type: NodePort
    nodePorts:
      - listenerPort: 80
        port: 30080
      - listenerPort: 443
        port: 30443
nginxGateway:
  gwAPIExperimentalFeatures:
    enable: true
